<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Undostres Testing suite">
	<test name="Verify Recharge" annotations="JDK" preserve-order="true">
		<classes>
			<class name="com.undostres.script.RechargeScript"/>
		</classes>
	</test>
</suite>